.additional-tweet {
  margin: 10px 0px;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  background-color: #eeeeee;
  width: 400px;
  height: 200px;
  position: relative;
}

.additional-tweet:hover {
  opacity: .60;
}

/*.additional-tweet:hover:after {
  content: ;
}*/

.additional-tweet textarea {
  background-color: white;
  width: 360px;
  height: 50px;
  padding: 5px;
}

.additional-tweet header {
  height: 80px;
  width: 400px;
}

.additional-tweet h1 {
  display: inline;
  position: relative;
  line-height: 60px;
}

.additional-tweet img {
  display: inline;
  padding: 15px 10px;
  float: left;
}

.additional-tweet p {
  float: right;
  padding-right: 10px;
  color: #bbbbbb;
}

.additional-tweet footer {
  border-top: 1px solid #d4d4d4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  width: 398px;
  height: 25px;
  font-size: 0.75em;
  font-style: italic;
  font-weight: 300;
  padding: 5px 10px;
}

.additional-tweet .feed {
  background-color: white;
  height: 93px;
  font-weight: 300;
  padding: 35px 20px;
  font-size: 1.5em;
}