.new-tweet {
  padding: 0px 20px;
  border-radius: 10px;
  border: 1px solid #ff9696;
  background-color: #f7bcbc;
  width: 400px;
  height: 150px;
  display: none;
  font-family: 'Gaegu', sans-serif;
}

.new-tweet textarea {
  width: 360px;
  height: 50px;
  padding: 5px;
  resize: none;
  font-family: 'Gaegu', sans-serif;
  border: none;
}

.new-tweet h2 {
  border-bottom: 1px solid white;
  color: white;
  margin-top: 10px;
  font-weight: bold;
}

.container .counter {
  float: right;
  font-weight: 300;
  font-style: italic;
}

.container .negativeError {
  color: red;
  float: right;
  font-weight: 300;
  font-style: italic;
}

.container .error {
  background-color: #ff9797;
  color: white;
  height: 50px;
  width: 400px;
  padding: 15px 45px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: none;
  font-weight: 700;
  font-size: 1em;
}